{% extends 'instance.html' %}

{% block head %}
<title>{{model.title()}} - ChampionsDB</title>
{% endblock %}


{% block instance %}
<div class="content">
  <img src={{ player.media_link }} alt="player_img" class="img-thumbnail"></br>
  <h1 style="padding-top: 15px;">{{ player.name }}</h1>
  <h3>{{ player.position }}, {{ player.nationality }}</h3>

  <div style="padding-top: 20px;">
    <h3>Basic Information:</h3>
    <p> Date of Birth: {{ player.dob }} </p>
    <p> Height: {{ player.height }} </p>
    <p> Weight: {{ player.weight }} </p>
    <p> Team: <a href="/instance/team/{{player.team_id}}">{{ player.team_name }}</a> </p>
  </div>

  <div style="padding-top: 20px;">
    <h2>Ratings:</h2>
    <p>Overall Rating: {{player.rating_overall}} / 100</p>
    <p>Pace Rating: {{player.rating_overall}} / 100</p>
    <p>Passing Rating: {{player.rating_passing}} / 100</p>
    <p>Shooting Rating: {{player.rating_shooting}} / 100</p>
    <p>Defending Rating: {{player.rating_defending}} / 100</p>
    <p>Dribbling Rating: {{player.rating_dribbling}} / 100</p>
    <p>Physical Rating: {{player.rating_physicality}} / 100</p>
  </div>

  <div style="padding-top: 20px;">
    <h2>Recent Matches:</h2>
    {% for match in matches %}
    <div style="padding-top=10px;">
      <p> <a href=/instance/match/{{match._id}}>{{match.home_team_name}} vs. {{match.away_team_name}}</a></p>
      <p>Date: {{ match.date }}</p>
      <p>Score: {{match.score}} </p>
    </div>
    {% endfor %}
  </div>

  <div style="padding-top: 20px;">
    <h2>What People are Saying:</h2>
    <ul>
      {% for item in player.tweets %}
      {{item.html | safe}}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
