{% extends 'instance.html' %}

{% block instance %}
<div class="container p-auto mx-auto my-3">
  <div class="row align-items-center">
    <div class="col">
      <img src={{ match.media_link }} alt="home_team_img" class="img-thumbnail mx-auto d-block"></br>
    </div>
    <div class="col-sm text-center">
      <h4>versus</h4>
    </div>
    <div class="col">
      <img src={{ match.media_link_2 }} alt="away_team_img" class="img-thumbnail mx-auto d-block"></br>
    </div>
  </div>
  <div class="row justify-content-center mt-2 mg-auto mx-auto p-auto">
    <div class="col">
      <h1>Home team:<br><a href="/instance/team/{{match.home_team_id}}">{{ match.home_team_name }}</a></h1>
    </div>
    <div class="col text-right">
      <h1>Away team:<br><a href="/instance/team/{{match.away_team_id}}">{{ match.away_team_name }}</a></h1>
    </div>
  </div>
  <div class="row justify-content-center mt-2 mg-auto mx-auto p-auto">
    <div class="col-sm text-center">
      <h3>Date: {{ match.date }}</h3>
    </div>
  </div>
  <div class="row justify-content-center mt-2 mg-auto mx-auto p-auto">
    <div class="col-sm text-center">
      <h3>Score: {{ match.score }}</h3>
    </div>
  </div>
  <div class="row justify-content-center mt-2 mg-auto mx-auto p-auto">
    <div class="col-sm text-center">
      <h3>Stadium:</h3>
      <h3>{{ match.stadium }}</h3>
    </div>
  </div>
  <div style="padding-top: 20px;" class="row justify-content-start mt-2 mg-auto mx-auto p-auto text-center">
    <h3>Featured Players</h3>
  </div>
  <div class="row justify-content-start mt-2 mg-auto mx-auto p-auto">
    {% for player in players %}
    <div class="col">
      <p><a href="/instance/player/{{player._id}}">{{player.name}}</a></p>
      <p style="padding-bottom:10px">{{player.position}}, {{player.nationality}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
