{% extends 'model.html' %}

{% block model %}

<div class ="container1">
  <h1 style="width: 100%; height: 280px; background-image: url('https://i.ibb.co/q5Lwwyc/fcbarca-crop.png'); background-size: 100% 100%;"></h1>
  </div>
    <div class="container">
    <h1 style="color: white; font-size: 40pt; padding-top: 3%;">Players</h1>
    <!-- <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p> -->
    </div>
  <!-- This is just an example of how to use the teams information -->
  <div class="container">
    <div class="row">
        {% for player in players %}
          <div class="col-lg-4" style="margin-top: 20px !important; margin-bottom: 20px !important;">
            <div class="box" style="background: #fff; border-radius: 4px; padding-bottom: 10%; padding-top: 10%; text-align: center; height: 400px; font-weight: bold;">
              <p> <img style="max-height: 220px; max-width: 200px;" src= {{ player.media_link }}></p>
              <p> <a href="/instance/player/{{ player._id }}">{{ player.name }}</a> </p>
              <p> Team: <a href="/instance/team/{{ player.team_id }}">{{ player.team_name }}</a> </p>
              <p> Average Rating: {{ player.avg_rating }} </p>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="containter" style="margin-top: 30px; margin-bottom: 50px; align-items: center; align-content: center; width: 40%; margin-left: 375px;">
      {{ pagination.links }}
    </div>
  </div>
{% endblock %}


  <!-- This is just an example of how to use the player data -->
  <!-- {% for player in players %}
    <p> This is a player </p>
    <p> id: {{ player._id }} </p>
    <p> name: {{ player.name }} </p>
    <p> position: {{ player.position }} </p>
    <p> dob: {{ player.dob }} </p>
    <p> nationality: {{ player.nationality }} </p>
    <p> height: {{ player.height }} </p>
    <p> weight: {{ player.weight }} </p>
    <p> team_id: {{ player.team_id }} </p>
    <p> team_name: {{ player.team_name }} </p>
    <p> media_link: {{ player.media_link }} </p>
    <p> This is the end of a player </p>
  {% endfor %} -->
